@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Georg's Movie Transcriber</h1>
    <br />
    <p>Transcribe and get subtitles for all your movies.</p>
    <p><a  href="/Movies/Create">Upload a movie</a> to get started or <a href="/Movies/">view movies</a> already transcribed.</p>
</div>
